body{
   background-image: url("./budgeting.jpg");
}

#loginSignUp{
    border: 10px solid lightgrey;
    border-radius: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    padding: 15px;
    margin-top: 100px;
    background-color:#2f3d65;
}
#login{
    margin: auto;
    padding-top: 25%;
    padding-bottom: 25%;
}

#homeCont{
   background-color:#2f3d65;
   padding: 40px;
   margin-top:100px;
}
#dashBills, #dashEvents{
   margin: 30px;
}

#transaction-form, #billCollect, #homeCont{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
#formCategory, #formType{
    min-width: 8em;

}
#formDate {
    max-width: 160px;
}
#formDescription{
    width: 250px;
}


#transactionTable , #BillCollection{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}

#eventCont, #billCont, #transactionCont{
   background-color:#2f3d65;
   padding: 60px;
   margin-top:100px;
   max-width: 950px;
   margin-left: auto;
   margin-right: auto;

}
#loginButton, #signUpButton, #resetButton, #formButton{
    margin-top: 23px;

}
#billForm{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#formAmount{
   width:100px;
}

/* Transaction container */
#expenseRow, #incomeRow, #typeRow{
   width: 75px;
}
#catRow, #dateRow{
   width:90px;
}
