body{
   background-image: url("./budgeting.jpg");
}
#transactionCont{
    padding: 30px 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#loginSignUp{
    border: 10px solid;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    padding: 15px;
}
#login{
    margin: auto;
    padding-top: 25%;
    padding-bottom: 25%;
}


#transaction-form, #billCollect{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#formCategory, #formType{
    min-width: 8em;

}
#formDate {
    max-width: 170px;
}
#formDescription{
    width: 300px;
}


#transactionTable , #BillCollection{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;

}

#eventCont{
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;

}
#loginButton, #signUpButton, #resetButton, #formButton{
    margin-top: 23px;

}
#billForm{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#formAmount{
   width:100px;
}

/* Transaction container */
#expenseRow, #incomeRow, #typeRow{
   width: 75px;
}
#catRow, #dateRow{
   width:100px;
}
